<!DOCTYPE html>
<!-- 需要添加
<html  xmlns:th="http://www.thymeleaf.org"/>
这样在后面的th标签就不会报错
 -->
<html  xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="${username}">xx</title>
</head>
<body>
<h3 th:text="${username}">Hello World</h3>
<h3 th:text="${user.id}">id</h3>
<h3 th:text="${user.name}">name</h3>
<h3 th:text="${user.email}?:4466">email</h3>
<h3 th:text=" #{message.mobile}">email</h3>
<h3 th:text=" #{message.job}">email</h3>
<h3 th:text=" #{language.zh}">email</h3>

<p>
    Today is: <span th:text="${#calendars.format(today,'yyyy-MM-dd')}">13 May 2011</span>
</p>

<p>
    Today is: <span th:text="${#calendars.format(today,'dd MMMM yyyy')}">13 May 2011</span>
</p>
</body>
</html>